owner_cidr_blocks = ["0.0.0.0/0"]
ssh_import_id     = "gh:ykhemani"
prefix            = "yash-vault-demo-rig"
vault_license     = "<vault license>"
global_tags = {
  owner            = "yash"
  creator          = "yash@example.com"
  terraform        = "true"
  lifecycle-action = "stop"
  config-as-code   = "terraform"
  ttl              = "24"
  purpose          = "Vault Demo"
}
